<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">Staff Service</p>
                    <p class="tel">+60 1172290026</p>
                    <a href="##">Online Consult</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Help Center</dt>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Account Management</a></dd>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Shopping Guidance</a></dd>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Order Operation</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Follow Us</dt>
                <dd><a rel="nofollow" href="https://www.youtube.com/@MurrayZhou1" target="_blank">Youtube</a></dd>
                <dd><a rel="nofollow" href="https://www.instagram.com/choumurray/?next=%2F" target="_blank">Instagram</a></dd>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Contact US</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Offline Store</dt>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">NG Nilai</a>
                </dd>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Service Station</a></dd>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Auth Experiences Stores</a></dd>
            </dl>
            <dl class="col-article">
                <dt>About Us</dt>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Details</a>
                </dd>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Join Us</a>
                </dd>
                <dd><a rel="nofollow" href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Donate</a>
                </dd>
            </dl>
            <dl class="wx">
                <dt>Smart Devices Sales System</dt>
                <dd>
                    <img th:src="@{/mall/image/whatsapp/whatsapp.png}">
                </dd>

            </dl>
        </div>
        <div class="footer-links w1100">
            <p>Links:</p>
            <div class="clearfix">
                <a th:href="@{/index}">Home Page</a>
                <a th:href="@{/admin}">Management System</a>
                <a href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git">Feedback</a>
                <a href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git">GitHub</a>
                <a href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git">Gitee</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Smart Devices Sales System &nbsp; | &nbsp;
                    Powered by Murray&nbsp;
                    | &nbsp;</a>
                    &nbsp;
                </p>
                <p><a href="https://github.com/drunk-cat-fix/SmartDevicesSalesSys.git" target="_blank">Copyright © 2026 Murray  All
                    Rights
                     </a></p>
            </div>
        </div>

    </div>
</div>
</html>